*{
  font-size: 1rem;
}

.container-btn{
  width: 100%;
  height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.btnHome {
  margin: 30px;
  width: 7em;
  height: 2.8em;
  color: #FAFAFA;
  background: rgba(0, 122, 155, 0.85);
  border: 5px solid #FAFAFA;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  text-align: center;

}

button{
  font-size: 2em;
}

a {
  text-decoration: none;
}
