/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
  }

  body{
    background-image: url('../src/assets/Pulpo-fondo-img-1920x1080.jpg');
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
  }

  @media (max-width: 1281px){
    body{
      background-image: url('../src/assets/Pulpo-fondo-img-1280x800.jpg');
    }

  }
